/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: #e6e6e6; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
  font-style: italic;
  color: #dddddd;
}

button {
  padding: 15px;
  border-radius: 13px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: lightblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: lightyellow;
}

#button5 {
    background: #f8f5f1;
}

#button1:active, #button1.lit {
    background:url(https://cdn.glitch.com/e186bb3c-eed7-4bed-ae84-08e6e499e9fb%2FWebp.net-resizeimage.png?v=1616318240010) no-repeat;
  
}

#button2:active, #button2.lit {
  background:url(https://cdn.glitch.com/e186bb3c-eed7-4bed-ae84-08e6e499e9fb%2Fb.png?v=1616318461325) no-repeat;
  
}

#button3:active, #button3.lit {
  background:url(https://cdn.glitch.com/e186bb3c-eed7-4bed-ae84-08e6e499e9fb%2Fd.png?v=1616318461324) no-repeat;
}

#button4:active, #button4.lit {
  background:url(https://cdn.glitch.com/e186bb3c-eed7-4bed-ae84-08e6e499e9fb%2Fc.png?v=1616318461325) no-repeat;
}

#button5:active, #button5.lit {
  background:url(https://cdn.glitch.com/e186bb3c-eed7-4bed-ae84-08e6e499e9fb%2Fe.png?v=1616327917632) no-repeat;
}
.hidden {
  display: none;
}